#ignore PyCharm default file or folders for any new project
.idea

#ignore sector directory and master sector file
sector
master_sector_file.xlsx

#ignore DS_STORE
.DS_Store

#ignore industry file and directory
industry
master_industry_file.xlsx


#ignore oneList things
oneList
oneList.csv
oneList_final_list.xlsx


#ignore testing files
testingGrounds.py
testingDir